.userList{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px gainsboro;
    -webkit-box-shadow: 0px 2px 10px gainsboro;
    margin: 20px;

}
.userListTitle{
    color: #525252;
    margin-bottom: 20px;
}
.userListUser {
    display: flex;
    align-items: center;
}

img.userListUserImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.userListIcon{
    font-size: 15px;
}
.userListIcon.edit{
    color: green;
}
.userListIcon.delete{
    color: tomato;
}