
.newUser{
    flex: 2;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 20px 10px gainsboro;
}
.newUserTitle{
    color: #525252;
    margin-bottom: 30px;
}
.newUserImg {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}
.userEidtRightAvatarlabel {
    position: relative;
}
.newUserAvatarMask {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background: #80808052;
    margin-top: -44px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.newUserItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #525252;
    width: 48%;
    margin-right: 2%;
}

.newUserAvatar {
    text-align: center;
    margin-bottom: 15px;
}

.newUserItemInput {
    border: none;
    padding: 10px;
    border-bottom: 1px solid #525252;
    margin-bottom: 10px;
    outline: none;
}

.newUserItemBtn {
    border: none;
    padding: 10px 15px;
    background: lightgreen;
    font-weight: 600;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
}
.newUserItem:last-child{
    display: block;
}