.topbar {
    height: 50px;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 0 10px;
    box-shadow: 0px 2px 10px #c3c3c3;
    -webkit-box-shadow: 0px 2px 10px #c3c3c3;
}
.topbarWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbarRight {
    display: flex;
    align-items: center;
}
.topbarRightIconWrapper {
    position: relative;
    margin-right: 10px;
    font-size: 13px;
    color: #585858;
}
span.iconBadge {
    width: 10px;
    height: 10px;
    background: red;
    padding: 5px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -8px;
    right: -6px;
}
.topRightAvatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}