.userEdit{
    display: flex;
}
.userEditLeft {
    flex: 1;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gainsboro;
    -webkit-box-shadow: 0px 0px 10px gainsboro;
}

.userEditLeftTop {
    display: flex;
}
.userEditLeft {
    flex: 1;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gainsboro;
    -webkit-box-shadow: 0px 0px 10px gainsboro;
    padding: 20px;
}

.userEditLeftTop {
    display: flex;
    align-items: center;
}

.userEditLeftImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.userEditLeftTopTitle {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    color: #525252;
}
.userEditLeftName {
    font-weight: 600;
    font-size: 20px;
}
.userEditLeftBottom {
    color: #525252;
}
.userEditLeftInfo {margin-top: 30px;}
.userEditLeftInfoTitle {
    margin: 5px 0;
    color: #afafaf;
}
.userEditLeftInfoItem {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.userEditLeftInfoItemIcon {
    font-size: 15px !important;
    margin-right: 15px;
}

/* right side code */
.userEditRight{
    flex: 2;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gainsboro;
    -webkit-box-shadow: 0px 0px 10px gainsboro;

}
.userEditRightImg {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
}
.userEidtRightAvatarlabel {
    position: relative;
}
.userEditRightAvatarMask {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background: #80808052;
    margin-top: -44px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.userEditRightItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #525252;
}

.userEditRightAvatar {
    text-align: center;
    margin-bottom: 15px;
}

.userEditRightItemInput {
    border: none;
    padding: 10px;
    border-bottom: 1px solid #525252;
    margin-bottom: 10px;
    outline: none;
}

.userEditRightItemBtn {
    border: none;
    padding: 10px 15px;
    background: lightgreen;
    font-weight: 600;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
}
.userEditRightItem:last-child{
    display: block;
    text-align: center;
}